<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="static/js/script.js"></script>
</head>

<body>
    <h1>IEEE-754 binary-32 floating point addition</h1>
    <form action="/" method="POST">
        <fieldset id="operands">
            <div class="input-1">
                <input name="input-1-operand" id="op1" title="(+/-)1.e " value="1." pattern='^-?1+(\.[01]+)?$'
                    maxlength="34" onpaste="return false" autocomplete="off" required />
                X 2^
                <input type="number" name="input-1-base" min="-126" max="127" value="0" required />
            </div>
            <span>+</span>
            <div class="input-2">
                <input name="input-2-operand" id="op2" title="(+/-)1.e " value="1." pattern='^-?1+(\.[01]+)?$'
                    maxlength="34" onpaste="return false" autocomplete="off" required />
                X 2^
                <input type="number" name="input-2-base" min="-126" max="127" value="0" required />
            </div>
        </fieldset>
        <fieldset id="rounding">
            <div>
                Choice of Rounding
            </div>
            <div>
                <input type="radio" value="G/R/S" name="round" checked>
                <label>G/R/S</label>
            </div>
            <div>
                <input type="radio" value="Standard" name="round">
                <label>Standard</label>
            </div>
            <label>Supported Digits: </label>
            <input type="number" name="supported-digits" min="0" value="0" required />
        </fieldset>
        <input type="submit" value="Add" id="submit">
    </form>
    <div id="error">
        There has been an error.
    </div>
    <!-- We can turn solution.html into a fetch request when the func is done  -->
    <!-- <div id="solution">
        
    </div> -->
</body>

</html>